.parent{
    display: grid;
    grid-template-columns: 150px 3fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 5px;
    grid-template-areas: "nav displ"
                         "nav displ"
                         "nav displ";
                         
}
.one{
    grid-area: header;
}
.two{
    grid-area: nav;
    /*background-color: white;*/
}
.three{
    grid-area: main;
}
.four{
    grid-area: ads;
}
.five{
    grid-area: skills;
}
.six{
    grid-area: footer;
}
.seven{
    grid-area: displ ;
}
@media only screen and (max-width: 375px){
    .parent{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr;
        grid-gap: 5px;
        grid-template-areas: "nav"
                             "nav"
                             "nav";

}